body{
    font-family: 'Source Code Pro', monospace;
    
}

.container{
    display: block;
    margin-left: 52%;
    position: absolute;
    margin-top: 15%;

}
.titulo{
    display: block;
    margin-left: 15%;
    color: #00BFA6;
}
.ori{
    display: block;
    margin-left: 22%;
    font-size: 100%;
    color: #000;
}


.img{
    max-width: 770px;
    margin-top: 8%;
    margin-left: 10%;
    position: absolute;
}

.imgResultado{
    max-width: 570px;
    margin-top: 8%;
    margin-left: 13%;
    position: absolute;
}

input {
    margin-top: 2%;
    font-size: 20px;
    width: 100%;
    padding: 10px 25px 5px;
    border-radius: 4px;
    border-color: #000;
}


.inputResultado{
    margin-top: 2%;
    margin-left: 0%;
    font-size: 20px;
    width: 60%;
    padding: 10px 30px 5px;
    border-color: #000
}

.tituloResultado{
    position: absolute;
    margin-left: 63.8%;
    margin-top: 12.3%;
    color: #00BFA6;
}
.btn{
    width: 60%;
    max-width: 250px;
    min-height: 50px;
    border-radius: 10px;
    margin-top: 10%;
    margin-left: 28%;
    color: #ffff;
    background-color: #00BFA6;
    border:#00BFA6;
}

.btn:hover{
    color: #d3ab28;
    background-color: #fff;
}

.msg{
    font-size: 300px;
    color: #d3ab28;
}

